@model EventMVC.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Bokningsdetaljer</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary btn-md my-0 p" asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> |
    <a class="btn btn-secondary btn-md my-0 p" asp-action="Index">Tillbaka</a>
</div>
